<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131510391407-pi56jq4se5rl8md1dqiljidskqaptg90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131510391407-pi56jq4se5rl8md1dqiljidskqaptg90</string>
	<key>API_KEY</key>
	<string>AIzaSyDTUYsHisw3B3hYnAE-INz58n-qazsot6c</string>
	<key>GCM_SENDER_ID</key>
	<string>131510391407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heredeerapps.fitcards</string>
	<key>PROJECT_ID</key>
	<string>fit-cards-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-cards-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131510391407:ios:3bfae45b9d8f7bcbd1739a</string>
	<key>DATABASE_URL</key>
	<string>https://fit-cards-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>